#customer_container{
    border: 1px;
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;


   
    
   
}

.customer {
    background-color: white;
    border: 10px;
    border-color: black;
    padding: 10px;
    
   


}

