#people-container {
    border: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
    justify-content: right;
}

.customer {
    background-color: aqua;
    border: 10px;
    border-color: black;
    padding: 10px;

}